@model IEnumerable<Mango.Web.Models.ProductDto>
@{
    ViewData["Title"] = "Product Page";
}

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Product Lists</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="Create" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i>Create New product</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.CategoryName</td>
                    <td>R$ @item.Price.ToString("c")</td>
                    <td>
                        <a asp-action="Edit" class="btn btn-success" asp-route-Id="@item.ProductId">
                            <i class="fa-solid fa-edit"></i>
                        </a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-ProductId="@item.ProductId">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>